* {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
}

body {
  font-family: "Noto Sans", sans-serif;
}

//폰트가 잘 먹는 경우가 많아서 세번 먹여주면 대부분의 경우 잘 작동

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}
