%tag-base {
  @include inline-flexbox;
  @include text-style(12);
  height: 20px;
  padding: 0 6px;
  border-radius: 4px;
  font-weight: 700;
}

.tag-red {
  @extend %tag-base;
  background-color: $red;
  color: $white;
}

.tag-gray {
  @extend %tag-base;
  background-color: $border;
  color: $secondary;
}

.tag-green {
  @extend %tag-base;
  background-color: $green;
  color: $white;
}
